@import './globals.scss';

.reserveForm{
    padding-block: 5em;

    form{
        display: flex;
        flex-direction: column;
        gap:20px;

        input:not([type='submit']), select {
            padding: 20px;
            border-radius: 10px;
            outline: none;
            border: 1px solid black;
        }

        input[type="submit"]{
            padding: 20px;
            font-size: $ff-md;
            font-weight: 600;
            background-color: $cc-495E57;
            color: white;
            border: none;
            outline: none;
            border-radius: 10px;
        }
    }
    
}